.project__actions {
    display: flex;

    .button:first-child {
        
        @media (min-width: 731px) {
            margin-right: 10px;
        }

        @media (max-width: 731px) {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 730px) {
        flex-direction: column;
    }
}