.project__image-wrapper {
    height: 240px;
    width: 240px;
    position: relative;
    background-color: #23171b87;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;


    @media (max-width: 730px) {
        width: 300px;
    }
}