.project__slide {
    display: flex!important;
    outline: none!important;

    &:hover {
        .project__image--hover-img {
            opacity: 1!important;
        }

        .project__image:not(.project__image--hover-img) {
            opacity: 0!important;
        }
    }

    @media (max-width: 730px) {
        flex-direction: column;
        margin-bottom: 60px;
    }

    @media (min-width: 731px) and (max-width: 1100px) {
        margin-bottom: 40px;
    }
}