.contacts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


@import 'contacts__wrapper';
@import 'contacts__icon';
@import 'contacts__options';
@import 'contacts__option';
@import 'contacts__title';
