.contacts__title {
    font-size: 52px;
    font-weight: 800;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;

    @media (max-width: 480px) {
        font-size: 35px;
    }
}

