.menu-toggle--open {
    margin-bottom: unset;

    .menu-toggle__line:nth-child(2) {
        display: none;
    }

    .menu-toggle__line:first-child,
    .menu-toggle__line:nth-child(3) {
        position: relative;
    }

    .menu-toggle__line:first-child {
        transform: rotate(45deg);
        top: 10px;
    }

    .menu-toggle__line:nth-child(3) {
        transform: rotate(135deg);
        bottom: 10px;
    }
}