.services__cta-wrapper {
    margin-left: 55px;
    margin-top: 6px;

    @media (max-width: 992px) {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    @media (min-width: 1440px) {
        margin-left: 44px;
    }

    @media (min-width: 1920px) {
        margin-left: 55px;
    }
}