//Header section styling
.header-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 82px;
    background-color: $uq-gray;
    padding-right: 52px;

    @media (max-width: 767px) {
        padding-right: 15px;
    }
}