.main-section {
    width: 100vw;
    min-height: 100vh;
    padding: 80px 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1502582877126-512f3c5b0a64?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1349&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image .5s;

    @at-root .portfolio-wrap {
        position: relative;

        @media (max-width: 1100px) {
            width: 90%;
        }
    }
}