.portfolio__tab-controls-single {
    font-size: 17px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    border-radius: 15px;
    background: transparent;
    color: #fff;
    margin: 0 4px;
    padding: 8px 8px;
    position: relative;
    text-transform: uppercase;

    @at-root &:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}