.portfolio__title {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: $sans;
    text-transform: uppercase;
    letter-spacing: -2px;

    @media (max-width: 480px) {
        font-size: 35px;
        line-height: 33px;
    }

    @media (min-width: 481px) and (max-width: 1100px) {
        line-height: 42px;
    }
}