.header__nav-item--bordered {
    border: 2px solid $uq-black;
    margin: 0 25px 0 32px;
    padding: 4px 11px;

    &:hover {
        opacity: .8;
        border-color: #00000078;
    }

    &:hover .header__nav-item-link {
        opacity: .6;
        color: #000;
    }
}