.button {
    display: flex;
    padding: 10px 30px;
    color: #fff;
    background: #23171b;
    border-radius: 5px;

    @at-root &:hover {
        color: #fff;
        background: #23171b5e;
        text-decoration: none;
    }
}