.project__left {
    background-color: $uq-black;
    padding: 30px 35px 30px 31px;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 32px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        width: 71%;
        margin-bottom: 25px;
    }

    @media (max-width: 1440px) {
        flex: 331;
    }

    @media (min-width: 1441px) {
        flex: 339;
    }
}