.clients__companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 49px;

    @media (max-width: 480px) {
        padding-top: 29px;
    }

    @media (min-width: 480px) and (max-width: 1200px) {
        padding-top: 62px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
        margin-right: -130px;
    }
}